# Foundry
cache/
out/
.gas-snapshot
broadcast/
output/
coverage/
report/
lcov*

# MacOS
.DS_Store

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
